body,
html,
#app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

img,
i {
    vertical-align: middle;
}

.nav a:hover {
    transition: all .4s;
}

.el-header {
    background-color: #393D49;
    position: fixed;
    top: 0;
    width: 100%
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.el-header .container .nav.active i,
.el-header .container .nav:hover i {
    opacity: 1;
}

.el-header .container .nav i {
    font-size: 26px;
    color: white;
    font-weight: 400;
    opacity: 0.7;
    cursor: pointer;
}

.el-header .container .nav a {
    font-size: 14px;
    color: white;
    opacity: 0.7;
    cursor: pointer;
}

.el-header .container .nav {
    font-size: 14px;
    color: white;
    opacity: 0.7;
    line-height: 60px;
    cursor: pointer;
}

.el-header .container .nav:hover,
.el-header .container .nav.active,
.el-header .container .nav.active a,
.el-header .container .nav:hover a {
    opacity: 1;
}

a {
    text-decoration: none;
}

.el-main {
    padding: 0;
    padding-top: 60px;
    min-height: calc(100vh - 150px)
}

.el-footer {
    margin: 50px 0 0;
    padding:10px;
    text-align: center;
    color: #737573;
    line-height: 40px;
    background-color: #f2f2f2;
    font-size:14px;
    font-weight:400;
}

.el-footer a{
    color:#737573;
}

/*flex*/

.box-flex {
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -o-flex;
}

.align-center {
    align-items: center;
}

.align-stretch {
    align-items: stretch;
}

.align-end {
    align-items: flex-end;
}

.justify-end {
    justify-content: flex-end
}

.justify-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between
}

.align-content-center {
    align-content: center;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2
}

.flex-3 {
    flex: 3
}
.p-l-sm{
    padding-left: 5px;
}
.p-l-m {
    padding-left: 10px;
}


.p-t-m {
    padding-top: 20px;
}
.p-r-sm {
    padding-right: 5px;
}
.p-r-m {
    padding-right: 10px;
}



.m-l-llg {
    margin-left: 20px;
}

.m-r-llg {
    margin-right: 20px;
}

.el-main .right-body {
    width: 336px;
}