<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vienna.dao.TokenMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.vienna.model.TokenEntity" id="tbTokenMap">
        <result property="userId" column="user_id"/>
        <result property="token" column="token"/>
    </resultMap>


    <resultMap id="tbUser" type="com.vienna.model.User">

        <result property="id" column="id"/>
        <result property="account" column="account"/>
        <result property="name" column="name"/>
        <result property="pwd" column="pwd"/>
        <result property="rmb" column="rmb"/>
        <result property="createtime" column="createtime"/>
        <result property="logintime" column="logintime"/>
        <result property="wxopenid" column="wxopenid"/>
        <result property="qqopenid" column="qqopenid"/>
        <result property="questioncnt" column="questioncnt"/>
        <result property="answercnt" column="answercnt"/>
        <result property="pic" column="pic"/>
        <result property="auth" column="auth"/>
        <result property="experience" column="experience"/>
    </resultMap>


    <select id="getToken" resultMap="tbTokenMap">
         SELECT * FROM tb_token WHERE token = #{arg0}

    </select>

    <select id="get" resultMap="tbUser">

         SELECT * FROM user WHERE id = #{arg0}

    </select>


    <!--<insert id="insertToken">-->
    <!--insert into-->
    <!--tb_token(user_id,token)-->
    <!--values(#{arg0},#{arg1})-->
    <!--</insert>-->

    <insert id="insertToken">

        <selectKey keyProperty="count" resultType="int" order="BEFORE">
            SELECT count(*) AS COUNT FROM tb_token WHERE user_id=#{arg0}
        </selectKey>
        <!-- 如果大于0则更新 -->
        <if test="count>0">
            UPDATE tb_token
            SET user_id=#{arg0},
            token=#{arg1}
            WHERE user_id = #{arg0}
        </if>
        <!-- 如果等于0则保存 -->
        <if test="count==0">
            insert into
            tb_token(user_id,token)
            values(#{arg0},#{arg1})
        </if>

    </insert>


    <insert id="updateToken">
        UPDATE  tb_token
        SET user_id=#{userId},
            token=#{token}
       WHERE user_id = #{userId}
    </insert>


    <insert id="deleteToken">
        DELETE FROM tb_token WHERE user_id = #{userId}
    </insert>


</mapper>
