<!DOCTYPE html>
    <html>

    <head>
        <iframe src="layoutbbs/footer.html"  frameborder="0" id="contentIframe"></iframe>
        
    </head>

    <body class="site-home" id="LAY_home" style="background-color: #eee;">
        <div class="layui-header header header-index">
            <div class="layui-main">
                <img style="width:280px" src="Resources/images/logo_banner.png" />

                <ul class="layui-nav">
                    <li class="layui-nav-item ">
                        <a href="club/index">社区</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="http://www.cnblogs.com/yubaolee/" target="_blank">我的博客</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="site-banner">
            <div class="site-banner-bg" style="background-image: url(Resources/images/banner.jpg); background-color: #080018;">
            </div>
            <div class="site-banner-main">
                <div class="site-zfj site-zfj-anim">
                    <i class="layui-icon" style="color: #FBDAC7; color: rgba(255,255,255,.5);">&#xe620;</i>
                </div>
                <div class="layui-anim site-desc site-desc-anim">
                    <cite>简洁实用的工作流引擎，教科书级设计，可作为《企业应用架构模式》《ASP.NET设计模式》参考代码</cite>
                </div>
                <div class="site-download">
                    <a href="http://pro.openauth.me" target="_blank" class="layui-inline layui-btn layui-btn-normal" target="_blank">
                        <cite class="layui-icon"></cite> 演示直达
                    </a>

                    <a href="http://doc.openauth.me" class="layui-inline site-down" target="_blank">
                        <cite class="layui-icon"></cite> 使用文档
                    </a>

                </div>
             	<!-- <jsp:include page="/main/getversion"></jsp:include> 
             	-->
                <div class="site-banner-other">
                    <script src='https://git.oschina.net/yubaolee/OpenAuth.Net/star_widget_preview'></script>
                </div>
            </div>
        </div>
        <div class="layui-main">
            <ul class="site-idea">
                <li>
                    <fieldset class="layui-elem-field layui-field-title">
                        <legend>OpenAuth.Pro企业版</legend>
                        <p>采用WebAPI+VUE的前后端完全分离模式</p>
                        <p>后端基于OpenAuth.Core WebAPI接口</p>
                        <p>前端SPA单页面模式，基于VUE全家桶</p>
                        <a href="http://pro.openauth.me" target="_blank" class="layui-inline layui-btn layui-btn-normal" target="_blank">
                            <cite class="layui-icon"></cite> 在线演示
                        </a>

                        <a href="http://www.openauth.me/questions/detail?id=a2be2d61-7fcb-4df8-8be2-9f296c22a89c" class="layui-inline site-down" target="_blank">
                            <cite class="layui-icon"></cite> 获取源码
                        </a>
                    </fieldset>
                </li>
                <li>
                    <fieldset class="layui-elem-field layui-field-title">
                        <legend>OpenAuth.Core开源版</legend>
                        <p>采用.Net Core MVC + layui前后端开发模式</p>
                        <p>全新.net core 2.1跨平台体验</p>
                        <p>在OpenAuth.Net基础上进一步优化代码结构</p>
                        <a href="http://demo.openauth.me:1802" target="_blank" class="layui-inline layui-btn layui-btn-normal" target="_blank">
                            <cite class="layui-icon"></cite> 在线演示
                        </a>
                        <a href="https://gitee.com/yubaolee/OpenAuth.Core" class="layui-inline site-down" target="_blank">
                            <cite class="layui-icon"></cite> 下载源码
                        </a>
                    </fieldset>
                </li>
                <li>
                    <fieldset class="layui-elem-field layui-field-title">
                        <legend>OpenAuth.Net开源版</legend>
                        <p>采用.Net 4.5 MVC + layui前后端开发模式</p>
                        <p>更适合传统.net framework开发者使用</p>
                        <p>前端深度使用layui界面</p>
                        <a href="http://demo.openauth.me:1802" target="_blank" class="layui-inline layui-btn layui-btn-normal" target="_blank">
                            <cite class="layui-icon"></cite> 在线演示
                        </a>

                        <a href="https://gitee.com/yubaolee/OpenAuth.Net" class="layui-inline site-down" target="_blank">
                            <cite class="layui-icon"></cite> 下载源码
                        </a>
                    </fieldset>
                </li>
            </ul>
        </div>

        <fieldset class="layui-elem-field">
          <legend>他们正在使用OpenAuth.Pro(Net/Core)</legend>
          <div class="layui-field-box">
            <image alt="成都市勘察测绘研究院" style="background-color: black;height: 80px;" src="http://www.cdkc.cn/upload/image/20170619142832_1010.png"/>
             &nbsp; &nbsp; &nbsp; &nbsp;
            <image alt="苏州茵凡信息技术有限公司" style="background-color: black;height: 80px;" src="http://www.yinfanit.com/res/images/logo.png"/>
            &nbsp; &nbsp; &nbsp; &nbsp;
            <image alt="公评网" style="height: 80px;" src="http://www.17gp.com/images/logo5.png"/>
            &nbsp; &nbsp; &nbsp; &nbsp;
            <image alt="国家电网" style="background-color: black;height: 80px;" src="http://www.sgcc.com.cn/sites/sgcc_main/images/logo2.png"/>
            &nbsp; &nbsp; &nbsp; &nbsp;
            <image alt="三峡水利" style="height: 80px;" src="http://www.cqsxsl.com/images/logo.png"/>

          </div>
        </fieldset>

        <div class="layui-footer footer footer-index">
            <div class="layui-main">
                <p>2018 © <a href="/">openauth.me</a> LGPL license 官方技术交流群：484498493 【已满】 &nbsp;&nbsp; 626433139【已满】&nbsp;&nbsp; 566344079 </p>
                <p>
                    <a href="http://www.openauth.me/questions/detail?id=a2be2d61-7fcb-4df8-8be2-9f296c22a89c">商务合作/授权说明</a>
                    <a href="https://git.oschina.net/yubaolee/OpenAuth.Net" target="_blank">Git仓库</a>
                    |<a href="http://www.miibeian.gov.cn" target="_blank">渝ICP备16009992号</a>
                </p>
            </div>
        </div>

        <script src="Resources/layui/layui.js"></script>
        <script src="Resources/jquery.js"></script>
        <script src="blljs/index.js?v1"></script>
        <script src="Resources/tctip-master/js/tctip.min.js"></script>
        <script src="blljs/statistics.js"></script>
    </body>

    </html>
