.el-header .logo{
	width:280px;
	height:60px;
	
}
.el-header .logo img{
	width:280px;
	height:auto;
	vertical-align: middle;
	padding-top: 5px;
}
.el-header .right-link{
	flex:1;
	justify-content:flex-end
}
.el-header .right-link .item{
	width: 200px;
	text-align: center;
	color:white
}

.el-header .right-link .item a{
	color:white
}

.container-banner{
	height:600px;
	background-image: url(../../img/banner.jpg);
	background-size: cover;
	position: relative;
}

.site-zfj {
    padding-top: 25px;
    height: 220px;
    text-align: center;
}

.site-zfj i {
	padding-top: 10px;
    width: 200px;
    height: 200px;
    font-size: 200px;
   	color: rgba(255,255,255,.5);
}
.site-zfj-anim i {
    -webkit-animation-name: site-zfj;
    animation-name: site-zfj;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.site-desc {
    position: relative;
    height: 70px;
    margin-top: 25px;
    background: url(../../img/desc.png) center no-repeat;
}


.site-desc-anim {
    -webkit-animation-name: site-desc;
    animation-name: site-desc;
}

.layui-anim {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.site-desc cite {
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    color: #c2c2c2;
    font-style: normal;
    text-align: center;
}

.site-download {
    margin-top: 80px;
    font-size: 0;
    text-align: center;
}
.versions .el-card{
	margin:10px;
}
.site-download a{
    cursor: pointer;
}
.site-version a{
	color:#66b1ff;
	cursor: pointer;
}

.cards {
	margin-top: 30px;
}
.cards .el-card__header span{
	font-size: 16px;
	font-weight: 600;
}

.cards p{
	margin:0;
	line-height: 30px;
	font-size:14px;
	color:#888;
}

.cards .el-card__body{
	padding: 15px;
}

.cards .card-footer{
	margin-top: 10px;
	text-align: center;
}

.tips{
	margin-top: 40px;
	font-size:15px;
	color:#212121;
	margin-bottom: 20px;
}
.site-banner-other{
	margin-top: 20px;
	text-align: center;
}
.site-version{
	text-align: center;
	color:white;
	margin-top: 30px;
}
.uses .item{
	margin: 10px;
	height:80px;
}
.uses .item img{
	height:80px;
	width:auto;
}
@-webkit-keyframes site-desc {
  0% { -webkit-transform: scale(1.1);}
  100% {opacity: 1; -webkit-transform: scale(1);}
}
@keyframes site-desc {
  0% { transform: scale(1.1);}
  100% {transform: scale(1);}
}

@-webkit-keyframes site-zfj {
  0% {opacity: 1;  -webkit-transform: translate3d(0, 0, 0) rotate(0deg) scale(1);}
  10% {opacity: 0.8; -webkit-transform: translate3d(-100px, 0px, 0) rotate(10deg) scale(0.7);}
  35% {opacity: 0.6; -webkit-transform: translate3d(100px, 0px, 0) rotate(30deg) scale(0.4);}
  50% {opacity: 0.4; -webkit-transform: translate3d(0, 0, 0) rotate(360deg) scale(0);}
  80% {opacity: 0.2; -webkit-transform: translate3d(0, 0, 0) rotate(720deg) scale(1);}
  90% {opacity: 0.1; -webkit-transform: translate3d(0, 0, 0) rotate(3600deg) scale(6);}
  100% {opacity: 1; -webkit-transform: translate3d(0, 0, 0) rotate(3600deg) scale(1);}
}
@keyframes site-zfj {
  0% {opacity: 1;  transform: translate3d(0, 0, 0) rotate(0deg) scale(1);}
  10% {opacity: 0.8; transform: translate3d(-100px, 0px, 0) rotate(10deg) scale(0.7);}
  35% {opacity: 0.6; transform: translate3d(100px, 0px, 0) rotate(30deg) scale(0.4);}
  50% {opacity: 0.4; transform: translate3d(0, 0, 0) rotate(360deg) scale(0);}
  80% {opacity: 0.2; transform: translate3d(0, 0, 0) rotate(720deg) scale(1);}
  90% {opacity: 0.1; transform: translate3d(0, 0, 0) rotate(3600deg) scale(6);}
  100% {opacity: 1; transform: translate3d(0, 0, 0) rotate(3600deg) scale(1);}
}